<h1> List of movies </h1>
  <ol>
    {% for movie in movies %}
        <li>
            <div>
               <h5> {{movie.title.value | raw}}  </h5>
                {{movie.body.value | raw}} 
            </div>
        </li>
    {% endfor %}
</ol>